[Unit]
Description = JavaMonitor service unit
After = network-online.target
Wants = network-online.target

[Service]
User = {{ wo_user }}
Type = oneshot
RemainAfterExit = yes
Environment = {{ wo_unit_env }}
WorkingDirectory = {{ wo_basedir }}
ExecStart = {{ wo_basedir }}/tools/JavaMonitor.woa/JavaMonitor {{ wo_javamonitor_jvm_opts }} \
                                                        -WOPort {{ wo_javamonitor_port }} \
                                                        -WODeploymentConfigurationDirectory {{ wo_basedir }}/config \
                                                        > {{ wo_logdir }}/JavaMonitor.log 2>&1 &
ExecStop = kill `ps aux | awk '/JavaMonitor/ && !/awk/ {print $2}'`
StandardOutput = append:{{ wo_logdir }}/JavaMonitor.log
StandardError = append:{{ wo_logdir }}/JavaMonitor.log

[Install]
WantedBy = multi-user.target